.download {
  margin-top: 412px;
}

.download__wrapper {
  background-color: #1d2631;
  padding: 28px 20px 30px;
  text-align: center;
}

.download__link {
  display: block;
  color: @color;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: none;
  border: solid 3px #ffffff;
  border-radius: 30px;
  padding: 15px 35px;
}

.download__list {
  display: flex;
  align-items: center;
  .list-style();
  margin: 30px 0;
}

.download__item {
  padding-left: 36px;
}

.download__text {
  color: @color;
  font-size: @base-size;
}

@media (min-width: @tablet-width) {
  .download {
    margin: 0;
  }

  .download__wrapper {
    width: 300px;
    background-color: transparent;
    margin: 0;
    padding: 35px 20px 80px;
  }

  .download__link {
    padding: 17px 45px;
  }

  .download__text {
    font-size: 18px;
  }

  .download__list {
    margin: 35px 0;
  }

  .download__item:first-child {
    padding-left: 46px;
  }
}

@media (min-width: @desktop-width) {
  .download__wrapper {
    margin-left: 110px;
  }
}
