.features {
  background-color: @bg-color-grey;
  margin: 0;
  padding: 40px 20px 0 20px;
  text-align: center;
}
.features__title {
  font-size: 24px;
  font-weight: 300;
}
.features__list {
  .list-style ();
}
.features__item {
  font-weight: 400;
}
.features__item-title {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}
