.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: -45px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 50px;
  height: 24px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.page-header--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 3px;
  background-color: #ffffff;
  box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
  /*background-image: url("../img/icon-menu-burger.svg");
  background-repeat: no-repeat;*/
}

.page-header--closed .main-nav__toggle:hover::before {
  background-color: #d22856;
  box-shadow: 0 10px 0 0 #d22856, 0 20px 0 0 #d22856;
}

.page-header--closed .main-nav__toggle:active::before {
  background-color: rgba(210, 40, 86, 0.3);
  box-shadow: 0 10px 0 0 rgba(210, 40, 86, 0.3), 0 20px 0 0 rgba(210, 40, 86, 0.3);
}

.page-header--opened .main-nav__toggle::before,
.page-header--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  width: 28px;
  height: 3px;
  background-color: #ffffff;
  /*background-image: url("../img/icon-menu-cross.svg");
  background-repeat: no-repeat;*/
}

.page-header--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}

.page-header--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}

.page-header--opened .main-nav__toggle:hover::before,
.page-header--opened .main-nav__toggle:hover::after {
  background-color: #d22856;
}

.page-header--opened .main-nav__toggle:active::before,
.page-header--opened .main-nav__toggle:active::after {
  opacity: 0.3;
}

.main-nav__list {
  .list-style();
}

.main-nav__list-item {
  margin: 0;
  padding: 15px 0;
  text-align: center;
  box-shadow: 0 1px rgb(0, 0, 0), inset 0 1px rgba(255, 255, 255, 0.15);
}

.main-nav__list-item a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  color: @color;

  &:hover {
    color: #d22856;
  }

  &:focus {
    color: @color;
    opacity: 0.3;
  }
}

@media (max-width: @mobile-width-only) {
  .page-header--closed .main-nav__list {
    display: none;
  }

  .page-header--opened .main-nav__list {
    background-color: @bg-dark;
  }

  .page-header--nojs .main-nav__toggle {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .page-header--closed .main-nav__list {
    display: none;
  }

  .page-header--opened .main-nav__list {
    background-color: @bg-dark;
  }

  .page-header--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav__toggle {
    top: -65px;
  }

  .main-nav__list {
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .page-header--closed .main-nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 500px;
    padding-right: 130px;
  }

  .page-header--opened .main-nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 500px;
    padding-right: 130px;
    background-color: transparent;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list-item {
    box-shadow: none;

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 10px;
        left: 0;
        height: 2px;
        background: #ffffff;
      }
    }
  }

  .main-nav__list-item a {
    text-align: right;
    font-weight: 400;
    line-height: 18px;
  }
}
