.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: -45px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 50px;
  height: 24px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.page-header--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 24px;
  background-image: url("../img/icon-menu-burger.svg");
  background-repeat: no-repeat;
}

.page-header--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  background-image: url("../img/icon-menu-cross.svg");
  background-repeat: no-repeat;
}

.main-nav__list {
  .list-style();
}

.main-nav__list-item {
  margin: 0;
  padding: 15px 0;
  text-align: center;
  box-shadow: 0 1px rgb(0, 0, 0), inset 0 1px rgba(255, 255, 255, 0.15);
}

.main-nav__list-item a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  color: @color;
}

@media (max-width: @mobile-width-only) {
  .page-header--closed .main-nav__list {
    display: none;
  }

  .page-header--opened .main-nav__list {
    background-color: @bg-dark;
  }

  .page-header--nojs .main-nav__toggle {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .page-header--closed .main-nav__list {
    display: none;
  }

  .page-header--opened .main-nav__list {
    background-color: @bg-dark;
  }

  .page-header--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav__toggle {
    top: -65px;
  }

  .main-nav__list {
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .page-header--closed .main-nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 500px;
    padding-right: 130px;
  }

  .page-header--opened .main-nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 500px;
    padding-right: 130px;
    background-color: transparent;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list-item {
    box-shadow: none;
  }

  .main-nav__list-item a {
    text-align: right;
    font-weight: 400;
    line-height: 18px;
  }
}
