.page-footer__wrapper--index {
  display: none;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 75px;
}

.page-footer__logo {
  width: 147px;
  height: 40px;
  margin-bottom: 40px;

  &:hover g {
    fill: #d22856;
  }

  &:focus g {
    opacity: 0.3;
  }
}

.page-footer__logo svg {
  width: 147px;
  height: 40px;
}

.page-footer__logo .page-footer__logo-desktop {
  display: none;
}

.page-footer__map {
  text-align: center;
}

.page-footer__map img {
  width: 320px;
  height: 645px;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    background-color: @bg-light;
    padding: 36px 20px 40px;
  }

  .page-footer__logo {
    margin-bottom: 10px;
  }

  .page-footer__map img {
    width: 660px;
    height: 848px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: auto;
    padding: 70px 130px 73px;
  }

  .page-footer__logo .page-footer__logo-image {
    display: none;
  }

  .page-footer__logo .page-footer__logo-desktop {
    display: inline-block;
  }
}
