.page-header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: @bg-dark;
}

.page-header__logo {
  width: 75px;
  height: 22px;
  padding: 22px 0 22px 20px;
  /*box-shadow: 0 1px rgb(0, 0, 0), inset 0 1px rgba(255, 255, 255, 0.15);*/
}

@media (max-width: @mobile-width-only) {
  .page-header--closed {
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
  }
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    width: 147px;
    height: 40px;
    padding: 27px 0 43px 20px;
  }

  .page-header--closed {
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    align-items: center;
    flex-direction: row;
    min-height: 110px;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
  }

  .page-header--opened {
    align-items: center;
    flex-direction: row;
    min-height: 110px;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
  }

  .page-header__logo {
    padding-left: 130px;
    padding-right: 170px;
  }
}
