.social__list {
  .list-style();
  display: flex;
  flex-wrap: wrap;
  width: 172px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  &:hover {
    border: 3px solid rgba(0, 0, 0);
  }
}

.social__item svg {
  fill: #d22856;
}

@media (min-width: @tablet-width) {
  .social__list {
    margin: 0;
  }
}
