.social__list {
  .list-style();
  display: flex;
}

@media (min-width: 660px) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .page-footer__wrapper {
    display: flex;
    width: 940px;
    padding: 98px 130px 87px 130px;
  }
}
