.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
  clip: rect(0 0 0 0);
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: @base-size;
  line-height: 24px;
  font-weight: 300;
  font-style: normal;
  color: @base-color;
  background-color: @bg-light;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 258px;
  background-size: auto 462px;

  /*background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 0 434px, 50% 258px;
  background-size: auto 286px, auto 462px;*/
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: 660px) {
  body {
    min-width: 660px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: 50% 255px;
    background-size: auto 729px;
    /*background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-position: 50% 439px, 50% 255px;
    background-size: auto 545px, auto 729px;*/
  }

  .container {
    min-width: 660px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  body {
    min-width: 1200px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: 0 0;
    background-size: auto 853px;
    /*background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
    background-position: 146px 209px, 0 0;
    background-size: auto 645px, auto 853px;*/
  }

  .container {
    min-width: 1200px;
    margin: 0 auto;
  }
}
